# copy to opencloud.env and adjust
OC_URL=https://cloud.opencloud.test

## euro-office (uncomment when enabled)
#EURO_OFFICE_DOMAIN=euro-office.opencloud.test
#COLLABORATION_WOPI_SRC=https://cloud.opencloud.test
#COLLABORATION_APP_ADDR=https://euro-office.opencloud.test
#COLLABORATION_APP_ICON=https://euro-office.opencloud.test/web-apps/apps/documenteditor/main/resources/img/favicon.ico
#JWT_SECRET=

## yjs (uncomment when enabled)
#WEB_OPTION_YJS_SERVER_URL=wss://cloud.opencloud.test/yjs
