[Unit]
Description=Euro-Office

[Container]
AutoUpdate=registry
Image=ghcr.io/euro-office/documentserver
Pod=opencloud.pod
StartWithPod=false

Environment=WOPI_ENABLED=true
# self-signed certificates
Environment=USE_UNAUTHORIZED_STORAGE=false
Environment=JWT_SECRET=

[Service]
TimeoutStartSec=900
