[Unit]
Description=Euro-Office

[Container]
AutoUpdate=registry
Image=ghcr.io/euro-office/documentserver
Pod=opencloud.pod
StartWithPod=false
EnvironmentFile=../opencloud.env

Environment=WOPI_ENABLED=true
# self-signed certificates
Environment=USE_UNAUTHORIZED_STORAGE=false

[Service]
TimeoutStartSec=900
